In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("sporadic_result.csv")

In [4]:
df

     Unnamed: 0     u   res    n      time  nbt
0             0  0.00  True  100  0.714218    2
1             1  0.00  True  288  2.171624    2
2             2  0.00  True   64  1.973922    2
3             3  0.00  True   38  0.366872    2
4             4  0.00  True  120  1.882433    2
..          ...   ...   ...  ...       ...  ...
995         995  0.99  True  112  1.895424    2
996         996  0.99  True  136  1.331552    2
997         997  0.99  True   54  1.259861    2
998         998  0.99  True  194  1.538668    2
999         999  0.99  True   40  0.558319    2

[1000 rows x 6 columns]

In [11]:
(~df["res"]).sum()

30